html {
    height: 100%;
}

body {
	margin: 0;
    background-color: #b9b9b9;
    height: 100%;
}

.login-table {
    width: 100%;
    height: 100%;
}

.login-col-l {
    height: 100%;
    width: 50%;
    padding: 10% 5%; 
    border-right: 2px dotted #5d5d5d;
}

.login-box {
    background-color: #505050;
    padding: 4%;
    border: 2px solid;
    border-color: #a0a0a0;
    border-radius: 5px;
    color: white;
}

.login-col-r {
    height: 100%;
    width: 50%;
    padding: 10% 5%; 
}

.login-titulo {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 8%;
}


.info-text {
    margin-bottom: 2%;
}

.botao {
    margin-top: 5%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 6vw;
    max-height: 60px;
    min-height: 48px;
    width: 100%;
    background-color: #505050;
}

.logo {
    float: left;
    background-color: #505050;
    display: block;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 1vw;
}

.title{
    float: left;
    background-color: #505050;
    display: block;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 1vw;

}

.search {
    float: center;
    background-color: #505050;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    padding: 0px 2vw;
}


.menu-button {
    float: right;
    background-color: #505050;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 1.5vw;
}

.menu-button:a {
	font-size: 1.5em;
	margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.menu-button:hover {
    background-color: #5a5a5a;
}

.menu {
    display: none;
    margin: 0;
    background-color: #b9b9b9;
    max-height: 60px;
    min-height: 48px;
    width: 100%;
}

.menu-item {
    height: auto;
    float: right;
    text-align: center;
    vertical-align: middle;
    background-color: #505050;
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 1.5vw;
}

.canvas {
    height: 100%;
}

.create-note-div {
    float: center;
    display: block;
    color: white;
    text-align: center;
    height: 10%;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 0.5em;
}

.create-note-form {
    float: center;
    display: block;
    color: white;
    text-align: center;
    height: 100%;
    min-height: 30px;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nota {
    display: inline-block;
    margin: 0px 8px;
    width: auto;
    height: auto;
    max-width: 600px;

}

.top-nota {
    display: block;
    background-color: #cccc00;
    margin: auto;
    width: auto;
    height: auto;
    word-break: break-word;
}

.titulo {
    display: inline-block;
    max-width: 90%;
    height: 100%;
    word-break: break-word;
}

.delete {
    display: inline-block;
    float: right;
    width: auto;
    word-break: break-word;
    vertical-align: middle;
    margin: auto;
}

.delete-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 20px;
}

.bot-nota {
    display: block;
    background-color: #ffff99;
    width: auto;
    height: auto;
    word-break: break-word;
}